/*//69-31% (1035 - 465)
//31% - 38% - 31% (465 -570 - 465)

// 500|250 */
.info, .sort {
  background-image: url("../images/line.svg");
  background-size: contain;
  background-repeat: no-repeat; }

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  background-color: #ffffff; }

.page-container {
  width: 1500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 0 auto;
  padding: 0;
  background-color: Aquamarine; }
  @media (max-width: 1499px) {
    .page-container {
      width: 1035px; } }
  @media (max-width: 1034px) {
    .page-container {
      width: 100%; } }

body * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

h1, h2, h3, ul, li, a {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none; }

.block {
  min-height: 500px; }
  .block--large {
    width: 1035px; }
  .block--middle {
    width: 570px; }
  .block--small {
    width: 465px; }
  .block--slim {
    min-height: 250px; }

.title {
  background-color: #e9eae2;
  background-image: url("../images/header-armchairs.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 165px;
  padding-top: 50px;
  -webkit-transition: background-image .5s;
  transition: background-image .5s; }
  @media (max-width: 1034px) {
    .title {
      background-image: url("../images/header-armchair.png");
      background-position: center; } }

.logo__text {
  font-size: 18px;
  line-height: 18px;
  font-weight: normal;
  text-transform: uppercase;
  width: 100px; }

.social-icon {
  width: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 13px;
  margin-top: 60px; }

.social-icon__item a {
  display: block;
  width: 26px;
  height: 23px;
  background-image: url("../images/social-icon.png");
  background-repeat: no-repeat; }

.social-icon__item--facebook a {
  background-position: 10px 0; }

.social-icon__item--twitter a {
  background-position: -26px 0; }

.social-icon__item--instagram a {
  background-position: -60px 0; }

.social-icon__item--google-plus a {
  background-position: -95px 0; }

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #7acec3; }
  @media (max-width: 1499px) {
    .info {
      width: 570px; } }
  @media (max-width: 1034px) {
    .info {
      width: 100%;
      min-height: 1px;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -ms-flex-pack: distribute;
          justify-content: space-around; } }

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 13px;
  line-height: 14px;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  color: #ffffff; }
  .contacts a {
    font-size: 13px;
    line-height: 14px;
    font-weight: normal;
    font-style: normal;
    text-transform: uppercase;
    color: #ffffff; }
  .contacts__address {
    width: 40%;
    text-align: left;
    padding-left: 60px; }
  .contacts__link {
    width: 50%;
    padding-top: 110px;
    margin-left: -50px; }

@media (max-width: 1034px) {
  .contacts {
    width: 232.5px; }
  .contacts > * {
    margin: 0;
    padding: 0; }
  .contacts__address {
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin-bottom: 20px; }
  .contacts__link {
    -ms-flex-item-align: center;
        align-self: center; } }

.navigation {
  padding-top: 50px;
  padding-bottom: 90px;
  position: relative;
  -ms-flex-item-align: center;
      align-self: center; }
  @media (max-width: 1034px) {
    .navigation {
      padding-top: 20px;
      padding-bottom: 90px;
      -ms-flex-item-align: start;
          align-self: flex-start; } }

.navigation__button {
  width: 128px;
  height: 120px;
  background: none;
  border: 3px solid #ffffff; }
  .navigation__button span {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    font-size: 0;
    width: 40px;
    height: 3px;
    background-color: #ffffff; }
    .navigation__button span::before {
      content: '';
      position: absolute;
      top: -8px;
      left: 0;
      width: 40px;
      height: 3px;
      background-color: #ffffff; }
    .navigation__button span::after {
      content: '';
      position: absolute;
      top: 8px;
      left: 0;
      width: 40px;
      height: 3px;
      background-color: #ffffff; }

.navigation:hover > .navigation__button {
  border: 3px solid transparent;
  background-color: #f8c255; }
  .navigation:hover > .navigation__button span {
    background-color: #f8c255;
    -webkit-transform: background-color .3s;
            transform: background-color .3s; }
    .navigation:hover > .navigation__button span::before {
      visibility: visible;
      -webkit-transform: translateY(8px) rotate(45deg);
              transform: translateY(8px) rotate(45deg);
      -webkit-transform-origin: center;
              transform-origin: center;
      -webkit-transition: -webkit-transform .3s;
      transition: -webkit-transform .3s;
      transition: transform .3s;
      transition: transform .3s, -webkit-transform .3s; }
    .navigation:hover > .navigation__button span::after {
      visibility: visible;
      -webkit-transform: translateY(-8px) rotate(-45deg);
              transform: translateY(-8px) rotate(-45deg);
      -webkit-transform-origin: center;
              transform-origin: center;
      -webkit-transition: -webkit-transform .3s;
      transition: -webkit-transform .3s;
      transition: transform .3s;
      transition: transform .3s, -webkit-transform .3s; }

.navigation:hover > .navigation__list {
  background-color: #f8c255;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.navigation__list {
  position: absolute;
  top: 50px;
  left: -680px;
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 680px;
  height: 120px;
  z-index: 10;
  background-color: #f8c255; }
  .navigation__list a {
    font-size: 16px;
    line-height: 25px;
    color: #ffffff;
    text-transform: uppercase; }

@media (max-width: 1034px) {
  .navigation__list {
    left: 128px;
    width: 465px;
    top: 20px; } }

@media (min-width: 1035px), (max-width: (max-width: 1499px)) {
  .navigation__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 128px;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    top: 170px;
    left: 0; }
    .navigation__list .navigation__item:nth-of-type(odd) {
      margin: 10px 0; } }

.sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 465px;
  background-color: #ebb240; }

.sort__title {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  margin-left: 215px;
  margin-top: 50px;
  font-size: 48px;
  font-weight: normal;
  text-transform: uppercase;
  color: #ffffff; }

.sort__sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: left;
  padding-left: 162px;
  margin-top: 171px; }
  .sort__sorting input {
    display: none; }
  .sort__sorting label {
    font-size: 13px;
    line-height: 14px;
    text-transform: uppercase;
    color: #ffffff; }
  .sort__sorting input:checked + label {
    color: #000000;
    position: relative; }
  .sort__sorting input:checked + label::before {
    content: '';
    position: absolute;
    width: 19px;
    height: 1px;
    background-color: #ffffff;
    left: -29px;
    top: 5px; }
  .sort__sorting input:checked + label::after {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    border-bottom: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    top: 1px;
    left: -20px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }

@media (max-width: 1034px) {
  .sort {
    width: 100%;
    min-height: 1px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
  .sort__title {
    margin: 20px 0 10px;
    -ms-flex-item-align: end;
        align-self: flex-end; }
  .sort__sorting {
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin: 20px 0 50px;
    padding: 0; } }

.project-container {
  width: 1035px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: red; }
  @media (max-width: 1034px) {
    .project-container {
      width: 100%;
      background: red; } }

.project-card:last-child {
  margin-left: 570px;
  margin-top: -250px; }
  @media (max-width: 1034px) {
    .project-card:last-child {
      margin-left: 0;
      margin-top: 0; } }

.project-card__inner-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.project-card__title {
  font-size: 24px;
  line-height: 14px;
  font-weight: normal;
  text-transform: uppercase;
  color: #000000; }

.project-card__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase; }

.project-card__detail {
  font-size: 18px;
  line-height: 12px;
  font-weight: normal;
  text-transform: uppercase;
  color: #000000;
  position: relative; }

.project-card__detail::before {
  content: '';
  position: absolute;
  width: 19px;
  height: 1px;
  background-color: #ebb240;
  left: -29px;
  top: 5px; }

.project-card__detail::after {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  border-bottom: 1px solid #ebb240;
  border-right: 1px solid #ebb240;
  top: 1px;
  left: -20px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg); }

.project-card__like {
  width: 24px;
  height: 21px;
  background-color: transparent;
  border: none;
  background-image: url("../images/like.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: relative; }
  .project-card__like::before {
    position: absolute;
    content: '+200';
    font-size: 11px;
    color: red;
    left: 0;
    top: 29px; }

.project-card--fondue {
  background-color: #ffffff;
  background-image: url("../images/lamp.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; }
  .project-card--fondue .project-card__inner-container {
    width: 225px;
    margin-left: 100px; }
  .project-card--fondue .project-card__title {
    margin-top: 90px; }
  .project-card--fondue .project-card__info {
    margin-top: 20px; }
  .project-card--fondue .project-card__detail {
    margin-left: 35px;
    margin-top: 77px; }
  .project-card--fondue .project-card__like {
    margin-top: 116px;
    margin-left: 68px; }

.project-card--potter {
  background-color: #dfe0d9;
  background-image: url("../images/cook.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; }
  .project-card--potter .project-card__inner-container {
    width: 150px;
    margin-left: 42px; }
  .project-card--potter .project-card__title {
    margin-top: 40px; }
  .project-card--potter .project-card__info {
    width: 155px;
    margin-top: 15px; }
    .project-card--potter .project-card__info span:nth-child(2) {
      text-transform: none;
      line-height: 12px; }
  .project-card--potter .project-card__detail {
    margin-left: 25px;
    margin-top: 20px; }
  .project-card--potter .project-card__like {
    margin-top: 27px;
    margin-left: 60px; }

.project-card--fiji {
  background-color: #ffffff;
  background-image: url("../images/yellow-armchair.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; }
  .project-card--fiji .project-card__inner-container {
    width: 155px;
    margin-left: auto;
    margin-right: 65px; }
  .project-card--fiji .project-card__title {
    margin-top: 53px; }
  .project-card--fiji .project-card__info {
    margin-top: 19px; }
  .project-card--fiji .project-card__detail {
    margin-left: 32px;
    margin-top: 30px; }
  .project-card--fiji .project-card__like {
    margin-top: 25px;
    margin-left: 70px; }

@media (max-width: 1034px) {
  .project-card {
    width: 100%; }
    .project-card .project-card__inner-container {
      margin-right: 0;
      margin-left: 20%; }
  .project-card:last-of-type .project-card__inner-container {
    margin-right: 0;
    margin-left: 60%; } }
