.info {
  display: flex;
  flex-direction: column;
  background-color: $green-color;
  @extend %diagonal;
  @media #{$tablet-width} {
    width: $middle-width;
  }
  @media #{$mobile-width} {
    width: 100%;
    min-height: 1px;
    flex-direction: row;
    justify-content: space-around;
  }
}

.contacts {
  display: flex;
  @include font-info;
  a {
    @include font-info;
  }
  &__address {
    width: 40%;
    text-align: left;
    padding-left: 60px;
  }
  &__link {
    width: 50%;
    padding-top: 110px;
    margin-left: -50px;
  }
}

@media #{$mobile-width} {
  .contacts {
    width: $small-width / 2;
  }
  .contacts > * {
    margin: 0;
    padding: 0;
  }
  .contacts__address {
    align-self: flex-end;
    margin-bottom: 20px;
  }
  .contacts__link {
    align-self: center;
  }
}
