.project-container {
  width: 1035px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-start;
}

.project-card:last-child {
  margin-left: $middle-width;
  margin-top: -$small-height;
}

.project-card__inner-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.project-card__title {
  @include project-card-title-font;
}

.project-card__info {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
}

.project-card__detail {
  @include project-card-detail-font;
  position: relative;
}

.project-card__detail::before {
  @include arrow-before($dark-orange-color);
}

.project-card__detail::after {
  @include arrow-after($dark-orange-color);
}

.project-card__like {
  width: 24px;
  height: 21px;
  background-color: transparent;
  border: none;
  background-image: url("../images/like.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  &::before {
    position: absolute;
    content: '+200';
    font-size: 11px;
    color: red;
    left: 0;
    top: 29px;
  }
}

.project-card--fondue {
  background-color: $white-color;
  background-image: url('../images/lamp.png');
  @include background-image-parameter;
  .project-card__inner-container {
    width: 225px;
    margin-left: 100px;
  }
  .project-card__title {
    margin-top: 90px;
  }
  .project-card__info {
    margin-top: 20px;
  }
  .project-card__detail {
    margin-left: 35px;
    margin-top: 77px;
  }

  .project-card__like {
    margin-top: 116px;
    margin-left: 68px;
  }
}

.project-card--potter {
  background-color: $dark-grey-color;
  background-image: url('../images/cook.png');
  @include background-image-parameter;
  .project-card__inner-container {
    width: 150px;
    margin-left: 42px;
  }
  .project-card__title {
    margin-top: 40px;
  }
  .project-card__info {
    width: 155px;
    margin-top: 15px;
    span:nth-child(2) {
      text-transform: none;
      line-height: 12px;
    }
  }
  .project-card__detail {
    margin-left: 25px;
    margin-top: 20px;
  }
  .project-card__like {
    margin-top: 27px;
    margin-left: 60px;
  }
}

.project-card--fiji {
  background-color: $white-color;
  background-image: url('../images/yellow-armchair.png');
  @include background-image-parameter;
  .project-card__inner-container {
    width: 155px;
    margin-left: 245px;
  }
  .project-card__title {
    margin-top: 53px;
  }
  .project-card__info {
    margin-top: 19px;
  }
  .project-card__detail {
    margin-left: 32px;
    margin-top: 30px;
  }
  .project-card__like {
    margin-top: 25px;
    margin-left: 70px;
  }
}
