$light-grey-color: #e9eae2;
$dark-grey-color: #dfe0d9;
$dark-orange-color: #ebb240;
$light-orange-color: #f8c255;
$green-color: #7acec3;
$white-color: #ffffff;
$black-color: #000000;

$layout-width: 1500px;
$large-width: 1035px;
$middle-width: 570px;
$small-width: 465px;

$large-height: 500px;
$small-height: 250px;

$tablet-width: (max-width: $layout-width - 1);
$mobile-width: (max-width: $large-width - 1);

/*
.container {
  width: 1500px;
  height: 1000px;
  margin: 0 auto;
}*/
/*//69-31% (1035 - 465)
//31% - 38% - 31% (465 -570 - 465)

// 500|250 */
